{% extends 'base.html.twig' %}
{% block title %} Photo Galery for series {{object.getDetelName()}} {% endblock %}
{% block body %}
{{ include('@navbars/collectornavbar.twig') }}
<div class="container text-center">
<h2>Top Stars</h2>
    <div class="container text-center">
        <ul>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for Star in TopStars %}
                <tr>
                    <td>{{Star.dirname}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        <ul>
    </div>
</div>
{% endblock %}