{% extends 'base.html.twig' %}
{% block title %}Hello SetCollectorController!{% endblock %}
{% block body %}
    {{ include('@navbars/setcollector.twig') }}
    <ul>
        <li>
            
            {% for el in object %}
                {{ el['Name'] }}
                {% if el['can_edit'] %}
                    <a href="{{path('CollectorScan',
                        {
                            collector:el['Name'],
                            controllerid:el['id']
                        }
                    
                    )}}">
                        Scan
                    </a>
                {% endif %}
                    <a href="{{path('MoviesList',
                        {
                            collector:el['Name']
                        }
                    
                    )}}">
                        Show
                    </a>
            {% endfor %}
        </li>
    </ul>
{% endblock %}