{% extends 'base.html.twig' %}

{% block title %}Hello SetCollectorController!{% endblock %}

{% block body %}
    {{ include('@navbars/setcollector.twig') }}
    <ul>
        <li>
            {% for el in object %}
                {{ el['Name'] }}
            {% endfor %}
        </li>
    </ul>
{% endblock %}