{% extends 'base.html.twig' %}
{% block title %}Hello SetCollectorController!{% endblock %}
{% block body %}
    {{ include('@navbars/setcollector.twig') }}
    <ul>
        <li>
            
            {% for el in object %}
                {{ el.getCollector().getName() }}
                {% if el.getCanEdit() %}
                    <a href="{{path('CollectorScan',
                        {
                            collector:el.getCollector().getName(),
                            controllerid:el.getCollector().getId(),
                            code:el.getCollector().getCode()
                        }
                    
                    )}}">
                        Scan
                    </a>
                {% endif %}
                    <a href="{{path('MoviesList',
                        {
                            collector:el.getCollector().getName()
                        }
                    
                    )}}">
                        Show
                    </a>
            {% endfor %}
        </li>
    </ul>
{% endblock %}