<ul class="nav nav-tabs">
    <li class="nav-item">
       <a class="nav-link" href="{{ path('app_main') }}">Main</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_login') }}">Login</a>
        </li>
    {% endif %}
</ul>